.l- {
    &wrap {
        padding: 0 (50/20)*1em;
        max-width: 80em;
        // margin: 0 auto;
    }

    &page-content {
        margin: 7em auto;
        max-width: 55em;
        position: relative;
        overflow: hidden;
    }
}

section + section {
}


#page-wrapper.is-Loaded  {
    overflow: hidden;
}

// Fixed header
.WidgetWrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.WidgetContentWrapper {
    flex: 1 1 100%;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    padding-top: 2em;
    padding-bottom: 2em;
}

.TopNav {
    flex: 0 0 $_topNavHeight;
    position: relative;
    z-index: 2;
}

// This is just for slide in handling
#TardisWrapper {
    $_transition-time: 0.3s;

    position: relative;

    #TardisWidget {
        position: absolute;
        left: 100%; top: 0;
        height: 100vh;
        will-change: transform;
        width: 100%;
        max-width: 500px;
        transition: transform $_transition-time 0s $ease-in-out-quad;

        // temporary
        background: white;
    }

    #TardisWrapperOverlay {
        background: rgba(0,0,0, 0.7);
        width: 100vw; height: 100vh;
        position: absolute;
        pointer-events: none;
        top: 0; left: 0;

        opacity: 0;
        transition: opacity $_transition-time 0s $ease-out-quad;
    }


    &.opened {
        #TardisWidget {
            transform: translateX(-100%);
        }
        #TardisWrapperOverlay {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
